In [102]:
import pandas as pd

In [103]:
# Скачать данные 
# Считать данные с помощью pandas

df = pd.read_csv(r'laptops_price.csv', encoding='1251', index_col='laptop_ID') # encoding смена кодировки , encoding='1251', index_col='laptop_ID'

# Задание 1 

Скачать данные 

Считать данные с помощью pandas

Вывести на экран первые 5 строк

Посмотреть на описание признаков и на их содержание

In [104]:
# Вывести на экран первые 5 строк

df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [105]:
# Посмотреть на описание признаков и на их содержание

df.describe()

            Inches  Price_euros
count  1295.000000  1295.000000
mean     15.030270  1124.317266
std       1.415632   700.193254
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1489.495000
max      18.400000  6099.000000

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1303 entries, 1 to 1320
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1295 non-null   object
 1   Product           1295 non-null   object
 2   TypeName          1295 non-null   object
 3   Inches            1295 non-null   float64
 4   ScreenResolution  1295 non-null   object
 5   Cpu               1295 non-null   object
 6   Ram               1295 non-null   object
 7   Memory            1295 non-null   object
 8   Gpu               1295 non-null   object
 9   OpSys             1295 non-null   object
 10  Weight            1295 non-null   object
 11  Price_euros       1295 non-null   float64
dtypes: float64(2), object(10)
memory usage: 132.3+ KB

In [107]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295
unique,19,615,6,39,113,9,38,109,9,176
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,725,505,190,613,411,281,1070,121

# Задание 2

Проведите первичный анализ данных

Изучите типы данных

Найдите количество пропущенных ячеек в данных

Посчитайте основные статистики по всем признакам и поизучайте их

In [108]:
# Изучите типы данных

df.dtypes

Company              object
Product              object
TypeName             object
Inches              float64
ScreenResolution     object
Cpu                  object
Ram                  object
Memory               object
Gpu                  object
OpSys                object
Weight               object
Price_euros         float64
dtype: object

In [109]:
# Найдите количество пропущенных ячеек в данных

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1303 entries, 1 to 1320
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1295 non-null   object
 1   Product           1295 non-null   object
 2   TypeName          1295 non-null   object
 3   Inches            1295 non-null   float64
 4   ScreenResolution  1295 non-null   object
 5   Cpu               1295 non-null   object
 6   Ram               1295 non-null   object
 7   Memory            1295 non-null   object
 8   Gpu               1295 non-null   object
 9   OpSys             1295 non-null   object
 10  Weight            1295 non-null   object
 11  Price_euros       1295 non-null   float64
dtypes: float64(2), object(10)
memory usage: 132.3+ KB

In [110]:
df.isna().sum() # количество пустых ячеек

Company             8
Product             8
TypeName            8
Inches              8
ScreenResolution    8
Cpu                 8
Ram                 8
Memory              8
Gpu                 8
OpSys               8
Weight              8
Price_euros         8
dtype: int64

In [111]:
df.isna().sum()['Company'] # количество пустых ячеек  по колонке

8

In [112]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [113]:
# Посчитайте основные статистики по всем признакам и поизучайте их

df.describe()

            Inches  Price_euros
count  1295.000000  1295.000000
mean     15.030270  1124.317266
std       1.415632   700.193254
min      10.100000   174.000000
25%      14.000000   599.000000
50%      15.600000   977.000000
75%      15.600000  1489.495000
max      18.400000  6099.000000

# Задание 3

Ответьте на несколько вопросов

3.1 Ноутбуков от какой компании больше всего в наборе данных?

In [114]:
df.describe(include=['object']).loc['top', 'Company']

'Dell'

In [115]:
df_company = df['Company'].value_counts()
df_company

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         15
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Google         3
Fujitsu        3
LG             3
Huawei         2
Chuwi          1
Name: count, dtype: int64

In [116]:
df_company[df_company == df_company.max()]

Company
Dell      297
Lenovo    297
Name: count, dtype: int64

3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?

In [117]:
df.Price_euros.min(), df.Price_euros.max()

(174.0, 6099.0)

3.3 Какой самый дорогой ноутбук в данных?
Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [118]:
df.sample(5)

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
33,HP,17-ak001nv (A6-9220/4GB/500GB/Radeon,Notebook,17.3,Full HD 1920x1080,AMD A6-Series 9220 2.5GHz,4GB,500GB HDD,AMD Radeon 530,Windows 10,2.71kg,439.00
643,Asus,VivoBook Pro,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8GB,1TB HDD,Nvidia GeForce GTX 1050,Windows 10,1.99kg,906.62
1252,Apple,MacBook Air,Ultrabook,11.6,1366x768,Intel Core i5 1.6GHz,4GB,256GB Flash Storage,Intel HD Graphics 6000,Mac OS X,1.08kg,959.00
113,Asus,VivoBook S15,Ultrabook,15.6,Full HD 1920x1080,Intel Core i7 8550U 1.8GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce MX150,Windows 10,1.5kg,1262.00
1046,MSI,GL72M 7RDX,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050,Windows 10,2.7kg,1191.80

In [119]:
df.sort_values('Price_euros', ascending=False).head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0
839,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,512GB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,5499.0
617,Lenovo,Thinkpad P51,Notebook,15.6,IPS Panel 4K Ultra HD 3840x2160,Intel Xeon E3-1535M v6 3.1GHz,32GB,1TB SSD,Nvidia Quadro M2200M,Windows 10,2.5kg,4899.0
758,HP,Zbook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16GB,256GB SSD,Nvidia Quadro M2000M,Windows 7,3kg,4389.0
1081,Asus,ROG G701VO,Gaming,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6820HK 2.7GHz,64GB,1TB SSD,Nvidia GeForce GTX 980,Windows 10,3.58kg,3975.0

In [120]:
df[df['Price_euros'] == df['Price_euros'].max()]

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

# Задание 4

4.1 Найдите ноутбуки с самой маленькой диагональю в данных?

Выведите только следующие характеристики:
- Компания
- Типа ноутбука
- Диагональ
- Стоимость

Если таких ноутбуков несколько, то выводите их всех

In [121]:
df[df['Inches'] == df['Inches'].min()][["Company", "TypeName", "Inches", "Price_euros"]]

          Company            TypeName  Inches  Price_euros
laptop_ID
51         Lenovo  2 in 1 Convertible    10.1       319.00
1097       Lenovo  2 in 1 Convertible    10.1       646.27
1129       Lenovo  2 in 1 Convertible    10.1       549.00
1141       Lenovo  2 in 1 Convertible    10.1       479.00

4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [122]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [123]:
ultra8gb = df[(df["TypeName"] == "Ultrabook") & (df["Ram"] == "8GB")].shape[0]

In [124]:
ultra8gb

134

In [125]:
ultra = df[df["TypeName"] == "Ultrabook"].shape[0]
ultra

190

In [126]:
round(ultra8gb / ultra * 100, 2)

70.53

In [127]:
df[df["TypeName"] == "Ultrabook"].value_counts('Ram', normalize=True)['8GB'].round(4) * 100

70.53

In [128]:
round(df[df["TypeName"] == "Ultrabook"].value_counts('Ram', normalize=True).loc['8GB'] * 100, 2)

70.53

In [129]:
(df[df["TypeName"] == "Ultrabook"].value_counts('Ram', normalize=True).loc['8GB'] * 100).round(2)

70.53

# Задание 5

5.1 Выберите ноутбук клиенту

Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в стоимости до 500 евро, сколько у него вариантов?

In [130]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [131]:
df[(df['Ram'].isin(['8GB', '16GB'])) & (df['OpSys'] == 'Windows 10') & (df['Price_euros'] < 500)].shape[0]

13

5.2 Выберите ноутбук клиенту

Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX 1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли подобные ноутбуки?

In [132]:
price = df[(df['Company'] == 'MSI') & (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') & (df['Inches'] != 15.6)]

price.Price_euros.min(), price.Price_euros.max()

(1199.0, 1599.0)

5.3 Что дешевле?

В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel Core i7 7600U 2.8GHz?

In [133]:
CPU = df[(df['Cpu'] == 'Intel Core i7 7700HQ 2.8GHz') | (df['Cpu'] == 'Intel Core i7 7600U 2.8GHz')]

In [134]:
CPU.groupby('Cpu').agg({'Price_euros' : 'mean'}).reset_index()

                           Cpu  Price_euros
0   Intel Core i7 7600U 2.8GHz  1915.710769
1  Intel Core i7 7700HQ 2.8GHz  1760.408425

In [135]:
CPU.groupby('Cpu').agg({'Price_euros' : 'mean'})

                             Price_euros
Cpu
Intel Core i7 7600U 2.8GHz   1915.710769
Intel Core i7 7700HQ 2.8GHz  1760.408425

# Задание 6

Найдите самый легкий ноутбук

Но обратите внимание на тип и представление данных в признаке Weight, если что, замените в строке 'kg' на пустую строку через метод .str.replace()

In [136]:
df.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [137]:
df['Weight']

laptop_ID
1       1.37kg
2       1.34kg
3       1.86kg
4       1.83kg
5       1.37kg
         ...
1316     1.8kg
1317     1.3kg
1318     1.5kg
1319    2.19kg
1320     2.2kg
Name: Weight, Length: 1303, dtype: object

In [138]:
df['Weight'] = df['Weight'].str.replace('kg', '').astype('float')

In [139]:
df['Weight'].min()

0.69

In [140]:
df[df['Weight'] == df['Weight'].min()]

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
laptop_ID,,,,,,,,,,,,
51,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69,319.00
1097,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69,646.27
1129,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Android,0.69,549.00
1141,Lenovo,Yoga Book,2 in 1 Convertible,10.1,IPS Panel Touchscreen 1920x1200,Intel Atom x5-Z8550 1.44GHz,4GB,64GB Flash Storage,Intel HD Graphics 400,Windows 10,0.69,479.00